# Server
NODE_ENV=development
PORT=3000

# Database (get credentials from team lead or AWS Secrets Manager)
DB_HOST=wellapath-staging-db.cclsme0gujar.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=wellapath_staging
DB_USER=wellapath_admin
DB_PASSWORD=

# AWS
AWS_REGION=us-east-1

# Artifacts
ARTIFACT_BASE_URL=https://d179u2ex0g66o3.cloudfront.net

# App version
APP_VERSION=0.1.0